.container {
min-width: 100%;
min-height: 100%;
}

/* List of Exchanges */
.exchanges {
border: solid black;
padding: 1%;
float: left;
}

/* Inputs */
.personInput {
border: solid black;
padding: 1%;
float: left;
}

.displayResult {
border: solid black;
padding: 1%;
float: left;
}

.inputStyle {
padding: 1%;
margin: 1%;
border-radius: 5%;
}

.calculateButton {
display: flex;
justify-content: center;
align-items: center;
}

td {
border: 1px solid black;
min-width: 100px;
text-align: center;
}

.list, li {
list-style-type: none;
padding: 1% 0%;
}

.calculateColumn {
width: 25%;
}

/* For Mobile Phones */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
body {
    font-size: 25px;
}

.exchanges {
    min-width: 45%;
    margin: 2.5% 15%;
}

.personInput {
    min-width: 45%;
    margin: 2.5% 15%;
}

.displayResult {
    min-width: 45%;
    margin: 2.5% 15%;
}
.footer {
    bottom: 0;
    left: 0;
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: grey;
}
}

/* For Desktop */
@media screen and (min-width: 720px) {
body {
    font-size: 20px;
}

.exchanges {
    min-width: 45%;
    margin: 2.5% 15%;
}

.personInput {
    min-width: 45%;
    margin: 2.5% 15%;
}

.displayResult {
    min-width: 45%;
    margin: 2.5% 15%;
}
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  